.container-box{
    width: 350px;
    height: 400px;
    display: inline-block;
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 40px;
}
.container-immagine{
    top: 20px;
    position: relative;
    transition: transform 0.3s;
}
.container-immagine:hover{
    top: 20px;
    position: relative;
    transform: scale(1.05);
}
.img-prodotto{
    max-width: 300px;
}
.container-title{
    overflow: hidden;
}
.container-descrizione{
    overflow: hidden;
}
.container-prezzo{
    font-size: 30px;
}
.container-button{
    bottom: 10px;
    position: absolute;
    /* width: 350px; */
    left: 50%;
    transform: translate(-50%);
}
.button-style{
    border-radius: 4px;
    /* border: 1px solid black; */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 50px;
    position: relative;
    
    bottom: 0;
    font-weight: bold;
}

/* hover */
.container-box:hover{
    background-color: rgb(235, 235, 235);
    /* transform: scale(1.05); */
}

/* carrellooo css */
